


h1 {
    font-family: verdana;
    font-size: 20px;
    color: black;
    text-align: center;
    
    
    border: 2px #669999;
    outline: #336788 solid 10px;
    margin: auto;    
    padding: 20px;
    text-align: center;

}

h3 {
     font-family: verdana;
    text-align: center;
    
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

body{
    background-color: "#669999";
}


















