<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}
</style>
</head>
<body>

<h1>My First CSS Example</h1>
<p>This is a paragraph.</p>

</body>
</html>
























html,body{

margin:0px;

}




body {

margin:0 0;

height: 100%;

background-color: lightblue; /* Standard syntax (must be last) */

}




/* Change the color of links on hover */

.topnav a:hover {

background-color: #ddd;

color: black;

}





/* Style the links inside the navigation bar */

.topnav a {

float: left;

color: #f2f2f2;

text-align: center;

padding: 14px 16px;

text-decoration: none;

font-size: 17px;

}




/* Change the color of links on hover */

.topnav a:hover {

background-color: #ddd;

color: black;

}




/* Add a color to the active/current link */

.topnav a.active {

background-color: #4CAF50;

color: white;

}




.social-icon, social{

max-width:32px;

}




img{

max-width:512px;

}




footer > a > img{

display:inline;

margin:0 auto;

}




footer{

text-align:center;

}




body{

font-family: "Segoe UI", "Arial", "sans-serif";

}

td,th{

border: solid 1px;

}


