


h1 {
    font-family: verdana;
    font-size: 20px;
    color: white;
    text-align: center;
    
    
    border: 2px #white;
    outline: #white 10px;
    margin: auto;    
    padding: 20px;
    text-align: center;

}

h3 {
     font-family: verdana;
    text-align: center;
    color: white;
    
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    color: white;
}

body{
    background-color: #ecc6d9;
}


















